@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif; 
  --font-macondo : "Macondo", sans-serif;
  --color-card : #FFC6C6;
  --color-main : #fff6f2;
  --color-secondary : #9d6c73;
  --color-third : #856176;
  --color-fourth : #2f4858;
  --color-optional : #665974;
}

html {
	@apply font-manrope;
}

section {
  @apply px-8 lg:px-28
}