---

---
<div class="flex lg:justify-center justify-between pt-4">
	<nav class="hidden absolute rounded-4xl px-4 py-2 text-fourth lg:flex items-center space-x-3 font-semibold">
		<a class="hover:text-third hover:text-shadow-black hover:font-bold rounded px-4 py-2 transition-all" href="#">Beranda</a>
		<a class="hover:text-third hover:text-shadow-black hover:font-bold rounded px-4 py-2 transition-all" href="#">Explore</a>
		<a class="hover:text-third hover:text-shadow-black hover:font-bold rounded px-4 py-2 transition-all" href="#">Order</a>
	</nav>
</div>