---

---

<section id="product" class="px-8 lg:px-28">
	<div class="head-section mb-8 flex flex-col lg:flex-row lg:justify-between">
		<div class="detail-head space-y-4">
			<h2 class="text-4xl lg:text-6xl font-semibold max-w-md">Experience with extraordinary hijab style.</h2>
			<p class="text-lg text-secondary">Here is our best hijab style with authenticity</p>
		</div>
		<div class="hidden font-macondo additional-head lg:flex flex-col gap-3">
			<p class="p-3 text-lg font-bold text-secondary cursor-default border-e-2 py-1">Bring your most radiant hijab style.</p>
		</div>
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
		<div class="relative hover:scale-110 hover:shadow-2xl hover:z-10 transition-all">
			<div class="absolute inset-0 w-full h-full bg-gradient-to-t from-secondary to-50% rounded-lg"></div>
			<img class="rounded-lg w-full h-full inset-0 object-cover object-center" src="/img/hijab1.jpg" alt="">
		</div>
		<div class="relative hover:scale-110 hover:shadow-2xl hover:z-10 transition-all">
			<div class="absolute inset-0 w-full h-full bg-gradient-to-t from-secondary to-50% rounded-lg"></div>
			<img class="rounded-lg w-full h-full inset-0 object-cover object-center" src="/img/hijab2.jpg" alt="">
		</div>
		<div class="relative hover:scale-110 hover:shadow-2xl hover:z-10 transition-all">
			<div class="absolute inset-0 w-full h-full bg-gradient-to-t from-secondary to-50% rounded-lg"></div>
			<img class="rounded-lg w-full h-full inset-0 object-cover object-center" src="/img/hijab3.jpg" alt="">
		</div>
	</div>
</section>