---

---

<section>
	<div class="hover:-translate-y-2 transition-transform bg-white shadow-lg rounded-lg grid grid-cols-1 md:grid-cols-5 gap-2 p-4">
		<div class="product-preview col-span-3">
			<div class="glide__track" data-glide-el="track">
				<ul class=" glide__slides">
					<li class="glide__slide">
						<img class="max-h-[500px] w-full object-top object-cover" src="/img/hijab1.jpg" alt="">
					</li>
					<li class="glide__slide">
						<img class="max-h-[500px] w-full object-top object-cover" src="/img/hijab2.jpg" alt="">
					</li>
					<li class="glide__slide">
						<img class="max-h-[500px] w-full object-top object-cover" src="/img/hijab3.jpg" alt="">
					</li>
				</ul>
			</div>
			<div class="flex justify-center gap-3 mt-3 glide__arrows" data-glide-el="controls">
				<button class="px-3 py-1.5 bg-secondary text-white rounded-md shadow-lg font-semibold hover:cursor-pointer" data-glide-dir="<">
					Prev
				</button>
				<button class="px-3 py-1.5 bg-secondary text-white rounded-md shadow-lg font-semibold hover:cursor-pointer" data-glide-dir=">">
					Next
				</button>
			</div>
		</div>
		<div class="col-span-2 toolbar text-optional space-y-2">
			<div class="text-lg font-semibold">Hijab Instan Zahra</div>
			<div class="price text-2xl">Rp. 32.000,00</div>
			<hr />
			<p class="font-semibold">Color :</p>
			<div class="flex gap-2 color text-md">
				<div class="bg-black w-8 h-8"></div>
				<div class="bg-orange-950 w-8 h-8"></div>
				<div class="bg-slate-400 w-8 h-8"></div>
			</div>
			<button type="button"
				class="hover:cursor-pointer button-cart text-slate-50 font-semibold bg-secondary px-4 py-2 rounded-lg w-full text-center">
				Tambah Ke Keranjang </button>
		</div>
	</div>
	</div>
</section>