---
import ChatIcon from "./ChatIcon.astro";
---

<section class="px-8 lg:px-28 py-8">
  <div class="flex justify-center">
    <div class="relative text-3xl font-semibold px-4 py-2">
      <span class="absolute top-0 left-0 border-t-2 border-s-2 p-2 w-1 h-2 border-secondary"></span>
      <span class="absolute bottom-0 right-0 border-b-2 border-e-2 p-2 h-2 w-1 border-secondary"></span>
      <span class="absolute top-0 right-0 border-t-2 border-e-2 p-2 h-2 w-1 border-secondary"></span>
      <span class="absolute bottom-0 left-0 border-b-2 border-s-2 p-2 h-2 w-1 border-secondary"></span>
      <span class="absolute bottom-0 right-0 border-b-2 border-e-2 p-2 h-2 w-1 border-secondary"></span>
      Testimonial
    </div>
  </div>
  <div class="text-fourth grid grid-cols-1 lg:grid-cols-2 gap-3 py-4">
    <div class="bg-card shadow p-4 rounded-2xl">
      <div class="card-title flex gap-3 items-center">
        <img class="w-12 rounded-full outline-2 outline-[#A55B4B]-2 mb-2" src="https://i.pravatar.cc/150?img=47" alt="" />
        <div class="text-4xl font-semibold">Aisyah Rahma.</div>
      </div>
      <div class="w-full h-0.5 bg-white my-2"></div>
      <div class="card-body text-fourth lg:text-2xl relative">
		<div>"Aku suka banget sama hijab dari Nurma Hijab! Bahannya adem, gampang dibentuk, dan warnanya cantik-cantik. Udah sering order dan selalu puas. Insya Allah bakal langganan terus!"</div>
	</div>
    </div>
    <div class="text-fourth grid grid-cols-1 lg:grid-cols-2 gap-3">
      <div class="bg-card shadow lg:col-span-2 p-4 rounded-2xl">
        <div class="card-title flex gap-3 items-center">
          <img class="w-12 rounded-full outline-2 outline-[#A55B4B]-2 mb-2" src="https://i.pravatar.cc/150?img=48" alt="" />
          <div class="text-4xl font-semibold">Nurul Hidayati.</div>
        </div>
        <div class="w-full h-0.5 bg-white my-2"></div>
        <div class="card-body text-fourth text-lg">"Akhirnya nemu hijab yang nyaman dipakai seharian dan tetap rapi! Cocok banget buat dipakai ke kantor atau acara formal. Packaging-nya juga super rapi, berasa premium."</div>
      </div>
      <div class="bg-card shadow p-4 rounded-2xl">
        <div class="card-title flex gap-3 items-center">
          <img class="w-12 rounded-full outline-2 outline-[#A55B4B]-2 mb-2" src="https://i.pravatar.cc/150?img=49" alt="" />
          <div class="text-4xl font-semibold">Zahra Maulida.</div>
        </div>
        <div class="w-full h-0.5 bg-white my-2"></div>
        <div class="card-body text-fourth text-lg">"Suka banget sama koleksi pashmina dari Nurma Hijab!. Motifnya kekinian tapi tetap syar’i. Harganya juga terjangkau untuk kualitas sebagus ini!"</div>
      </div>
      <div class="bg-card shadow p-4 rounded-2xl">
        <div class="card-title flex gap-3 items-center">
          <img class="w-12 rounded-full outline-2 outline-[#A55B4B]-2 mb-2" src="https://i.pravatar.cc/150?img=43" alt="" />
          <div class="text-4xl font-semibold">Fitriani Putri.</div>
        </div>
        <div class="w-full h-0.5 bg-white my-2"></div>
        <div class="card-body text-fourth text-lg">"Sudah coba banyak brand hijab, tapi belum ada yang seenak ini dipakainya. Lembut, tidak licin, dan mudah dibentuk. Terima kasih Nurma Hijab!"</div>
      </div>
    </div>
  </div>
</section>
