---

---

<section id="what-offer" class="my-12 px-8 lg:px-28 py-8 bg-secondary">
  <div class="head-section font-bold text-5xl text-center text-white">What we offer for you?</div>
  <div class="max-w-full">
	  <div class="text-secondary grid grid-cols-1 lg:grid-cols-3 gap-5 py-12 px-3">
		<div class="max-w-full card p-4 bg-main rounded-lg">
		  <div class="card-head font-bold text-4xl mb-1">Simple.</div>
		  <div class="w-full h-0.5 bg-third"></div>
		  <div class="card-body font-semibold mt-2">We believe simplicity is the key to elegance and comfort. Our hijab collection is designed to be effortlessly stylish-easy to wear, easy to pair, and perfect for your daily look without the hassle.</div>
		</div>
		<div class="max-w-full card p-4 bg-main rounded-lg">
		  <div class="card-head font-bold text-4xl mb-1">Authentic.</div>
		  <div class="w-full h-0.5 bg-third"></div>
		  <div class="card-body font-semibold mt-2">Every piece we create reflects true craftsmanship and identity. We prioritize quality materials and thoughtful details that represent the values of confident, principled Muslim women.</div>
		</div>
		<div class="max-w-full card p-4 bg-main rounded-lg">
		  <div class="card-head font-bold text-4xl mb-1">Stylist.</div>
		  <div class="w-full h-0.5 bg-third"></div>
		  <div class="card-body font-semibold mt-2">Stay modest, stay fashionable. Our designs embrace current trends with a unique twist, allowing you to express your personal style while keeping it graceful and appropriate.</div>
		</div>
	  </div>
  </div>
</section>
