---
import '@glidejs/glide/dist/css/glide.core.min.css';
import '@glidejs/glide/dist/css/glide.theme.min.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nurma Hijab</title>
  </head>
  <body class="bg-main">
    <slot />
  </body>
  <script>
    import Glide from '@glidejs/glide';

    // Inisialisasi Glide.js dengan beberapa opsi
    new Glide('.glide', {
        type: 'carousel',
        perView: 3,  // Tampilkan 3 gambar dalam satu tampilan di desktop
        breakpoints: {
            768: {
                perView: 1 // Tampilkan 1 gambar di layar dengan lebar 768px ke bawah
            }
        },
        autoplay: 1000 // Autoplay setiap 3 detik
    }).mount();

    new Glide('.product-preview', {
        type: 'slider',
        perView: 1,  // Tampilkan 3 gambar dalam satu tampilan di desktop
    }).mount();
</script>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
